@model world.data.People
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <ul>
            <li>@Model.Id</li>
            <li>@Model.Name</li>
            <li>@Model.Gender</li>
            <li>@Model.Age</li>
            <li>@Model.AadhaarNo</li>
        </ul>
    </div>
</body>
</html>
