@{
    ViewBag.Title = "About";
}
<h2>.</h2>
<h3>@ViewBag.Message</h3>
<p>Use this area to provide additional information. This is a big World and we are part if it
</p>
<p>
<ol>
    <li> Token : @ViewBag.Token</li>
    <li> URI : @ViewBag.Result</li>
    <li> Result : @ViewBag.Result</li>
    <li> Exception : @ViewBag.Exception</li>
</ol>

</p>
